# Capstone_project_data_cleaning

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
df1=pd.read_csv(r"F:\Desktop\selenium project\new_scrapping\buy_property.csv")

In [ ]:
df1

In [ ]:

Ask_for_price = (df1["Price"] == "Ask for price").sum()


print(f"The number of Ask_for_price values in the 'Price' column: {Ask_for_price}")

In [ ]:
df1.info()

In [ ]:
df1.isnull().sum()

In [ ]:
df1["Price"].dtype

In [ ]:
print(df1["Price"].apply(type).unique())

In [ ]:
df1.Price

In [ ]:
df1

In [ ]:
df1.isnull().sum()

In [ ]:
# Clean and convert the 'Price' column to integer
df1["Price(AED)"] = (
    df1["Price"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df1["Price(AED)"].dtype)  # Verify the data type
df1

In [ ]:
df1["Price(AED)"].dtype

In [ ]:
df1.isnull().sum()

In [ ]:
df1.info()

In [ ]:
# Clean and convert the 'Price' column to integer
df1["Area(sqft)"] = (
    df1["Area"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df1["Area(sqft)"].dtype)  # Verify the data type
df1

In [ ]:
# Count the number of occurrences of "studio"
studio_count = df1["Bedroom"].str.lower().value_counts().get("studio", 0)

print(f"'studio' appears {studio_count} times.")

In [ ]:
# Convert all values to strings, clean, and convert to integers
df1["Bathroom"] = (
    df1["Bathroom"]
    .astype(str)  # Convert all values to strings
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings (from NaN or invalid values) with "0"
    .astype(int)  # Convert to integers
)

# Display the cleaned DataFrame
print(df1["Bathroom"].dtype)
df1

In [ ]:
df1.info()

In [ ]:
# Drop the 'Price' and 'Area' columns
df1 = df1.drop(columns=["Price", "Area"])

# Display the updated DataFrame
df1

In [ ]:
# Create the 'per_sqft_price' column
df1["per_sqft_price"] = (df1["Price(AED)"] / df1["Area(sqft)"]).round(2)

# Display the updated DataFrame
df1

In [ ]:
df1.iloc[:100]  # Prints rows 0 to 99

In [ ]:
df1.info()

In [ ]:
# Strip spaces from the Bedroom column
df1["Bedroom"] = df1["Bedroom"].str.strip()

#  Replace "studio" with 1 and remove "+" or other problematic characters
df1["Bedroom"] = df1["Bedroom"].replace("studio", "1")  # Replace "studio" with "1"
df1["Bedroom"] = df1["Bedroom"].str.replace("+", "", regex=False)  # Remove "+" symbol

#  Convert to numeric, coercing invalid values to NaN
df1["Bedroom"] = pd.to_numeric(df1["Bedroom"], errors="coerce")

#  Handle NaN values (optional, e.g., replace with 0)
df1["Bedroom"] = df1["Bedroom"].fillna(0).astype(int)

# Display the updated DataFrame
print(df1)

In [ ]:
# Create a new column 'City' containing only the last name from the 'Location' column
df1["City"] = df1["Location"].apply(lambda x: x.split(",")[-1].strip())

# Display the updated DataFrame
df1

In [ ]:
df1.info()

In [ ]:
df1["Verification"] = df1["Verification"].fillna(0)
df1["Agent"] = df1["Agent"].fillna(0)

In [ ]:
df1.info()

In [ ]:
df1.head()

In [ ]:
# Method 1: Using value_counts()
zero_count = (df1["Verification"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Verification' column: {zero_count}")

In [ ]:
# Using value_counts()
zero_count = (df1["Agent"] == 0).sum()
# Method 1: Using value_counts()
zero_count = (df1["Verification"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Verification' column: {zero_count}")
# Display the result
print(f"The number of 0 values in the 'Agent' column: {zero_count}")

In [ ]:
# Using value_counts()
zero_count = (df1["Bedroom"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Bedroom' column: {zero_count}")

In [ ]:
#  Using value_counts()
zero_count = (df1["Bathroom"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Bathroom' column: {zero_count}")

In [ ]:
#  Using value_counts()
zero_count = (df1["Price(AED)"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Price' column: {zero_count}")

In [ ]:
# Drop rows where Price == 0 using the `drop` method
df1.drop(df1[df1["Price(AED)"] == 0].index,inplace=True)

# Display the updated DataFrame
df1

In [ ]:
# Using value_counts()
zero_count = (df1["Price(AED)"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Price' column: {zero_count}")

In [ ]:
#  Using value_counts()
zero_count = (df1["Area(sqft)"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
# Define the file path
file_path = r"F:\Desktop\selenium project\new_scrapping\test3.xlsx"

# Ensure the directory exists
os.makedirs(os.path.dirname(file_path), exist_ok=True)

# Save the DataFrame to an Excel file
df1.to_excel(file_path, index=False)

print(f"DataFrame has been saved to: {file_path}")

In [ ]:
df2=pd.read_csv(r"F:\Desktop\selenium project\new_scrapping\Rent_property.csv")
df2

In [ ]:
df2.isnull().sum()

In [ ]:
# Clean and convert the 'Price' column to integer
df2["Rent(yearly)"] = (
    df2["Rent"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df2["Rent(yearly)"].dtype)  # Verify the data type
df2

In [ ]:
# Clean and convert the 'Price' column to integer
df2["Area(sqft)"] = (
    df2["Area"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df2["Area(sqft)"].dtype)  # Verify the data type
df2

In [ ]:
# Create a new column 'City' containing only the last name from the 'Location' column
df2["City"] = df2["Location"].apply(lambda x: x.split(",")[-1].strip())

# Display the updated DataFrame
df2

In [ ]:
# Count the number of occurrences of "studio"
studio_count = df2["Bedroom"].str.lower().value_counts().get("studio", 0)

print(f"'studio' appears {studio_count} times.")

In [ ]:
# Strip spaces from the Bedroom column
df2["Bedroom"] = df2["Bedroom"].str.strip()

#  Replace "studio" with 1 and remove "+" or other problematic characters
df2["Bedroom"] = df2["Bedroom"].replace("studio", "1")  # Replace "studio" with "1"
df2["Bedroom"] = df2["Bedroom"].str.replace("+", "", regex=False)  # Remove "+" symbol

# Convert to numeric, coercing invalid values to NaN
df2["Bedroom"] = pd.to_numeric(df2["Bedroom"], errors="coerce")

#  Handle NaN values (optional, e.g., replace with 0)
df2["Bedroom"] = df2["Bedroom"].fillna(0).astype(int)

# Display the updated DataFrame
print(df2)

In [ ]:
# Convert all values to strings, clean, and convert to integers
df2["Bathroom"] = (
    df2["Bathroom"]
    .astype(str)  # Convert all values to strings
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings (from NaN or invalid values) with "0"
    .astype(int)  # Convert to integers
)

# Display the cleaned DataFrame
print(df2["Bathroom"].dtype)
df2

In [ ]:
# Drop the 'Price' and 'Area' columns
df2 = df2.drop(columns=["Rent", "Area"])

# Display the updated DataFrame
df2

In [ ]:
#  Using value_counts()
zero_count = (df2["Area(sqft)"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
# Using value_counts()
zero_count = (df2["Rent(yearly)"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
df2["Verification"] = df2["Verification"].fillna(0)
df2["Agent"] = df2["Agent"].fillna(0)

In [ ]:
df2

In [ ]:
df2.info()

In [ ]:
df2.isnull().sum()

In [ ]:
# Define the file path
file_path = r"F:\Desktop\selenium project\new_scrapping\rent1.xlsx"

# Ensure the directory exists
os.makedirs(os.path.dirname(file_path), exist_ok=True)

# Save the DataFrame to an Excel file
df2.to_excel(file_path, index=False)

print(f"DataFrame has been saved to: {file_path}")

In [ ]:
df2.info()

In [ ]:
df3 = pd.read_csv(r"F:\Desktop\selenium project\new_scrapping\commercial_property.csv")
df3

In [ ]:
df3

In [ ]:
df3.info()

In [ ]:
# Using value_counts()
Ask_for_price = (df3["Rent"] == "Ask for price").sum()

# Display the result
print(f"The number of Ask_for_price values in the 'Price' column: {Ask_for_price}")

In [ ]:
# Clean and convert the 'Price' column to integer
df3["Rent(yearly)"] = (
    df3["Rent"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df3["Rent(yearly)"].dtype)  # Verify the data type
df3

In [ ]:
# Clean and convert the 'Price' column to integer
df3["Area(sqft)"] = (
    df3["Area"]
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings with '0' to avoid errors
    .astype(int)  # Convert to integer
)

# Display the DataFrame
print(df3["Area(sqft)"].dtype)  # Verify the data type
df3

In [ ]:
# Create a new column 'City' containing only the last name from the 'Location' column
df3["City"] = df3["Location"].apply(lambda x: x.split(",")[-1].strip())

# Display the updated DataFrame
df3

In [ ]:
# Convert all values to strings, clean, and convert to integers
df3["Bathroom"] = (
    df3["Bathroom"]
    .astype(str)  # Convert all values to strings
    .str.replace("[^0-9]", "", regex=True)  # Remove non-numeric characters
    .replace("", "0")  # Replace empty strings (from NaN or invalid values) with "0"
    .astype(int)  # Convert to integers
)

# Display the cleaned DataFrame
print(df3["Bathroom"].dtype)
df3

In [ ]:
# Drop the 'Price' and 'Area' columns
df3 = df3.drop(columns=["Rent", "Area","Bedroom"])

# Display the updated DataFrame
df3

In [ ]:
# Using value_counts()
zero_count = (df3["Bathroom"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
df3["Verification"] = df3["Verification"].fillna(0)
df3["Agent"] = df3["Agent"].fillna(0)

In [ ]:
df3.info()

In [ ]:
#  Using value_counts()
zero_count = (df3["Verification"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
 #Using value_counts()
zero_count = (df3["Agent"] == 0).sum()

# Display the result
print(f"The number of 0 values in the 'Area(sqft)' column: {zero_count}")

In [ ]:
df3.isnull().sum()

In [ ]:
df3.info()

In [ ]:
# Define the file path
file_path = r"F:\Desktop\selenium project\new_scrapping\c1.xlsx"

# Ensure the directory exists
os.makedirs(os.path.dirname(file_path), exist_ok=True)

# Save the DataFrame to an Excel file
df3.to_excel(file_path, index=False)

print(f"DataFrame has been saved to: {file_path}")